#container_swip_carrinho{
height:100%;	
}

#fundo_alertas{
width:100%;
height:100%;
position:absolute;
top:0px;
left:0px;
background-color:#030;
opacity:0.6;
z-index:1000;
display:none;
}

#todo_conteudo{
max-width:100%;
width:100%;
height:100%;
position:relative;
overflow:hidden;	
}

#menu_esq{
width:275px;
height:100%;
position:fixed;
left:-276px;
top:0px;
background-color:#FFF;
z-index: 2;
border-right:solid 1px #ddd;
}

#centro_site{
width:100%;
height:100%;
position:relative;
top:0px;
left:0px;	
z-index: 0;
overflow:auto;
}

#fundo_menu{
position: absolute;
top: 0px;
left: 0px;
height: 100%;
width: 100%;
display: none;
opacity: 0;
z-index: 1;
background-color: rgba(0, 0, 0, 0.5);	
}

.fidelidade{
margin:auto;
width:96%;
position:relative;	
}

.fidelidade img{
margin:1%;
}