{literal}
<script>
	function validarFormulario()
	{		 
			
		document.form_marca.submit();
	}	 
</script>
{/literal}
<td class="mainContentArea">
    <form name="form_marca" method="post" action="index.php?secao=conf&opcao=salvarAlteracao" enctype="multipart/form-data">
        <input type="hidden" name="idConf" value="{$conf.id}" id="idConf" />
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
            <tbody>
                <tr>
                    <td colspan="2" class="buttonRow">
                    <input name="save" value="" onclick="validarFormulario();" class="normalButtonSalvar" type="button">
                    <input name="cancel" value="" onClick="window.location='index.php?secao=conf&opcao=alterar'" class="normalButtonCancelar" type="button">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="mainHeader">Altera&ccedil;&atilde;o das configura&ccedil;&otilde;es do site</td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td valign="top" width="70%">
                        <table border="0" cellpadding="2" cellspacing="0" width="100%">
                            <tbody>	
                            	
                                <tr>
                                    <td class="labelCell" align="center"></td>
                                    <td class="labelCell" style="color:#1B60E0;font-size:14px;"><br /><br />CONFIGURA&Ccedil;&Otilde;ES DO SITE</td>
                                </tr>	
                            		
                                <tr>
                                    <td class="labelCell" align="right">Número do tickets:</td>
                                    <td class="contentCell"> 
                                    <input type="text" name="tickets" id="tickets" value="{$conf.tickets}" onKeyPress="formataNumero(event);" />
                                    </td>
                                </tr>	
                                <tr>
                                    <td class="labelCell" align="right">Desconto (%):</td>
                                    <td class="contentCell"> 
                                    <input type="text" name="desconto" id="desconto" value="{$conf.desconto}" onKeyPress="formataNumero(event);" />
                                    </td>
                                </tr>
                                
                                
                            </tbody>
                        </table>
                    </td>	
                    <td align="left" valign="top" width="50%">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2" class="buttonRow">
                    <input name="save" value="" onclick="validarFormulario();" class="normalButtonSalvar" type="button">
                    <input name="cancel" value="" onClick="window.location='index.php?secao=conf&opcao=alterar'" class="normalButtonCancelar" type="button">
                     
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</td>
<script>
	document.getElementById('tickets').focus();
</script>
 