
<p><b>Nome:</b>&nbsp; {$listaContato.nome}</p> 
<p><b>E-mail:</b>&nbsp; {$listaContato.email}</p> 
<p><b>Telefone:</b>&nbsp; {$listaContato.telefone}</p>  
<p><b>Assunto:</b>&nbsp; {$listaContato.assunto}</p> 
<p><b>Cidade:</b>&nbsp; {$listaContato.cidade}</p>
<p><b>Estado:</b>&nbsp; {$listaContato.estado}</p>  
<p><b>Mensagem:</b>&nbsp; {$listaContato.msg}</p> 