<meta charset="utf-8">
<meta http-equiv="refresh" content="10">
<div class="tit_pagamento" style="color: #FFFFFF;
font-size: 20px;
font-weight: bold;
margin: auto;
position: relative;
padding:10px 0;
text-align:center;
background-color:#004501;
width: 100%;">QUADRO DE PEDIDOS:</div>

<div style="overflow-x:auto;width:auto;">
<table cellpadding="0" cellspacing="0" style="margin:auto;">
<tr>
{foreach from=$pedidoProduto item=pedido}
<td valign="top" align="left" style="padding:20px 10px;width:300px;">
<div style="width:300px;font-size:12px;border:solid 1px #666666;float:left;padding:10px;">
<table cellpadding="0" cellspacing="0" width="100%" style="">
    <tr>
        <td style="text-align:center;background-color:#CCC;">
            <span style="color:#000000"><strong>Pedido: {$pedido.id}</strong></span>
        </td>
    </tr>
    <tr>
        <td>
          <span style="color:#393939">	
            Tipo pagamento: <strong>{$pedido.tipo}</strong>
          </span>
          <br />
          <span style="color:#393939;">Status do pedido:</span>  
          <strong>{$pedido.descricao}</strong>	
          {if $pedido.data_envio neq ""}
          <br />
          <span style="color:#393939">	
            Data da pronto: <strong>{$pedido.data_envio}</strong>
          </span>
          {/if} 
        </td>
    </tr>
    <tr>
        <td>
            <span style="color:#393939">Cliente: <strong>{$pedido.nomeCliente}</strong></span><br />
            <span style="color:#393939">E-mail: <strong>{$pedido.emailCliente}</strong></span><br />
            <span style="color:#393939">Telefone: <strong>{$pedido.telefoneCliente}</strong></span><br />
            <span style="color:#393939">Agendado: <strong>{$pedido.agendado} horas</strong></span>
        </td>
    </tr>
</table>

<br />

<div class="tit_pagamento" style="color: #393939;
font-size: 14px;
font-weight: bold;
margin: auto;
position: relative;
width: 100%;">DADOS DE SUA COMPRA:</div>

{foreach from=$pedido.produtos  item=prod}
<table cellpadding="0" cellspacing="0" width="100%" style="margin:auto;">
    <tr>
        <td align="left" valign="middle">
        <br />
        <strong>Item {$prod.item}</strong>:<br />
        
        {if $prod.id_pao != 3}
        
            Produto: <strong>{$prod.nomePao} - {$prod.nomeProduto}</strong><br />
            {if $prod.nomeDoce == ""}
            Queijo: <strong>{$prod.nomeQueijo}</strong><br />
            Salada: <strong>{$prod.nomeSalada}</strong><br />
            Molho: <strong>{$prod.nomeMolho}</strong><br />
            Livre: <strong>{$prod.nomeLivre}</strong><br />
            Suco:  <strong>{$prod.nomeSuco}</strong><br />
            {else}
            Doce: <strong>{$prod.nomeDoce}</strong><br />
            Suco:  <strong>{$prod.nomeSuco}</strong><br />
            {/if}
            
        {else}
        
            Produto: <strong>{$prod.nomePao} - {$prod.nomeProduto}</strong><br />
            Carboidratos: <strong>{$prod.carboidratos}</strong><br />
            Proteínas: <strong>{$prod.proteinas}</strong><br />
            Legumes: <strong>{$prod.legumes}</strong><br />
            Verduras: <strong>{$prod.verduras}</strong><br />
            Sementes:  <strong>{$prod.sementes}</strong><br />
            Frutas:  <strong>{$prod.frutas}</strong><br />
            Molhos:  <strong>{$prod.molhos}</strong><br />
            Livres:  <strong>{$prod.livres}</strong><br />
            Adicionais:  <strong>{$prod.adicionais}</strong><br />
            
        {/if}

        
        Valor Produto: <strong>R$ {$prod.ValorItem|replace:".":","}</strong>
        
        </td>
    </tr>
</table>
{/foreach}   
<br />
<div style="color: #000000;
font-size: 14px;
font-weight: bold;
margin: auto;
position: relative;
text-align:center;
background-color:#c1c1c1;
width: 100%;">Valor Total Compra: <strong>R$ {$pedido.valor_total|replace:".":","}</strong></div>

<div style="color: #FFFFFF;
font-size: 14px;
font-weight: bold;
margin: auto;
position: relative;
text-align:center;
background-color:#0000FF;
margin-top:5px;
cursor:pointer;
padding:5px 0;
width: 100%;" onclick="location.href='index.php?secao=pedido&opcao=marcar_envio_salvar&idPedido={$pedido.id}&pagina=todos'">Avisar que est&aacute; pronto</div>


</div>

</td>
{/foreach}
</tr>
</table>
</div>