<div class="box_secundarias">
            	<div class="titulo_secoes"><img src="img/marcador_tit.png" > <!--ASSINATURA MENSAL E -->CARTÃO FIDELIDADE</div>
                
                <div class="row">
                    <div class="col-md-12">					
                        
                        <div id="borda_secundarias">
                            <div class="caixa_botoes_sec">
                                <div class="botoes_sec {if $opcao== 'cartao'}botoes_sec_ativo{/if}" id="btnbloco_1" onClick="abrir_bloco(1,1)">CARTÃO FIDELIDADE</div>
                               <!-- <div class="botoes_sec {if $opcao== 'mensal'}botoes_sec_ativo{/if}" id="btnbloco_2" onClick="abrir_bloco(2,2)">ASSINATURA MENSAL</div>-->
                            </div>
                            <div class="caixa_conteudo_sec">
                            	<div id="bloco1" {if $opcao== 'cartao'}style="display:block;"{else}style="display:none;"{/if}>
                                    <div class="texto_conteudo_sec">
                                        {$textos.cartao}
                                    </div>
                                </div>
                                <!--<div id="bloco2" {if $opcao== 'mensal'}style="display:block;"{else}style="display:none;"{/if}>
                                    <div class="texto_conteudo_sec">
                                    	{$textos.assinatura}
                                    </div>
                                </div>-->
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>