<div id="meio">
    <div id="sec_texto" style="line-height:25px;">
        <h1>Palavra pesquisada: <span style="color:#F00">{$palavraChave}</span></h1>
        {if $listaResultado neq ""}
                            
        {foreach from=$listaResultado item=resultado}
       
            <p style="padding-bottom:5px;"><img src="img/marcador_mapap.jpg" />&nbsp;&nbsp;&nbsp;<a href="{$resultado[3]}">{$resultado[1]}</a></p>
            <p><a href="{$resultado[3]}">{$resultado[2]}</a></p>
        
        {/foreach}
        
        {else}
        
        <p style="font-size:14px; margin-left:20px;">Nenhum resultado foi encontrado para a palavra-chave <B>{$palavraChave}</B>.</p>
        
        {/if}
        
        <br /><br /><br />
    </div>
</div>			
			
			