
            <!--Inicio parte baixo banner-->
            {include file=$links_principal}
            <!--Fim parte baixo banner-->
      
                        
            <div class="box_cadastro" style="padding-bottom:10px;">
            	<div class="titulo_secoes"><img src="img/marcador_tit.png" > COLEÇÃO</div>
                <div class="row">
                    <div class="col-md-12" align="center">					
                        
                        <div class="quadro_colecoes">
                        
                        	{foreach from=$todasColecoes item=colecao}
                            <div class="caixa_colecao">
                                <a href="?secao=loja&listaColecao[]={$colecao.id}"><img src="banner/{$colecao.arquivo}"></a>
                                <div class="baixo_img_colecao"></div>
                                <div class="texto_quadro_colecao">
                                	<h1>{$colecao.nome}</h1>
                                    {$colecao.texto}
                                </div>
                            </div>
                            {/foreach}
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            
            
            <!--parte news-->
          <div class="box_botao_colecoes">
            <div class="row">
                <div class="col-md-12" align="center">					
                    <a href="?secao=revender"><img src="img/bt_revender.png" style="margin-top:32px;" /></a>
                </div>
            </div>
          </div>  