<div class="box_carrinho">
    <img src="img/bolsa.png" title="Meu Carrinho" id="meuCarrinho"><br>
    <span id="n_itens_carrinho">{if $tamanho_carrinho}{$tamanho_carrinho}{else}0{/if}</span> | R$<span id="v_itens_carrinho">{if $valor_carrinho}{$valor_carrinho}{else}0,00{/if}</span>
</div>