<!--parte baixo banner-->
  <div class="baixo_banner {if $secao != ""}baixo_banner_borda_baixo{/if}">
    <div class="row">
        <div class="col-md-12" align="center">					
            <div onclick="location.href='?secao=envio_pag&opcao=pagamento'" class="itens_baixo_menu">
                <img src="img/formas_pagamento.png"> Formas de Pagamento
            </div>
            <div onclick="location.href='?secao=envio_pag&opcao=entrega'" class="itens_baixo_menu">
                <img src="img/condicoes_entrega.png"> Condições de Entrega
            </div>
            <div onclick="location.href='?secao=assinaturas&opcao=cartao'" class="itens_baixo_menu">
                <img src="img/cartao_fidelidade.png"> Cartão Fidelidade
            </div>
            <!--<div onclick="location.href='?secao=assinaturas&opcao=mensal'" class="itens_baixo_menu">
                <img src="img/assinatura_mensal.png"> Assinatura Mensal
            </div>-->
            <div onclick="location.href='?secao=revender'" class="itens_baixo_menu">
                <img src="img/seja_revendedor.png"> Seja um Revendedor
            </div>
        </div>
    </div>
  </div>  