{literal}
<script type="text/javascript">
function validarPesquisa(){
		
	
		if(document.pesquisar.pesquisar.value == "Busca no site..."){
			alert("Digite a pesquisa!");
			document.pesquisar.pesquisar.focus();
			return false;
		}
		 
		document.pesquisar.submit();
	}
	
	</script>
   {/literal}
   
   <div class="parte_pesquisar">
   <form name="pesquisar" action="index.php" method="get">
   		<input type="hidden" name="secao" value="loja" />
        <input type="text" class="form-control caixa_pesquisar" id="caixa_pesquisar" name="pesquisar" placeholder="Pesquisar" onFocus="muda_campo()" onBlur="muda_campo()" value="{if $pesquisar}{$pesquisar}{/if}">
        <div class="btn_pesquisar" onclick="validarPesquisa()"><img src="img/bt_pesquisar.png"></div>
    </form>
  </div>