.GridHeader {
	display: none;
}

.Header {
	width: 100%;
	}

.Header th { 
	font-size: 100%; font-weight: bold; text-align: left;
	font-family: verdana, arial, helvetica, sans-serif;
	padding: 2px;
	background-image: url(../imgs/headerbg.gif); color: #ffffff;
	width: 100%;
	white-space: nowrap;
}

.HeaderLeftGrid { 
	background-image: url(../imgs/headerleft.gif);
	}

.HeaderRightGrid { 
	background-image: url(../imgs/headerright.gif);
	}
	
.HeaderButton {
	background-image: url(../imgs/headerbg.gif);	
}

.HeaderButton img{
	width: 19px;
}

.HeaderLeftGrid img{
	width: 7px;
	}

.HeaderRightGrid img{
	width: 12px;
	}

/* Grid */
table.scroll {
	border-right: 1px solid #ffe3b0;	
	table-layout: fixed;
}
table.scroll tbody tr {
	background-color: #f7f7f7; 
}

table.scroll tbody tr.alt{
	background-color: #fff6e6; 
}
	
table.scroll tr.over td{
	background-color: #E1DCF4;
}
	
	
table.scroll tr.selected td {
	background-color:#3d84cc;
	color: White;
}

table.scroll tbody td  {
	font-size: 90%;
	padding: 2px;
	text-align: left;
	border-left: 1px solid #ffe3b0;
	border-bottom: 1px solid #ffe3b0; 
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	height : auto;
}

table.scroll thead th  {
	font-size: 90%;
	vertical-align: top;
	padding: 2px;
	border-left: 1px solid #ffe3b0; 
	border-bottom: 1px solid #ffe3b0; 
	text-align: left;
	font-weight: bold;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size:11px;
	overflow: hidden;
	white-space: nowrap;
	background-image: url(../imgs/grid-blue-hd.gif);
	height: 17px;
}
table.scroll thead tr th div img {
	width: 9px;
}

table.scroll tr{
	width: 9px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size:11px;
}
	
table.scroll th div {
	overflow: hidden;
	white-space: nowrap;
	height : 17px;
}

table.scroll th span {
	cursor: e-resize;
/*	border-right: 1px solid #D6D2C2;  */
	width: 10px;
	float: right;
	display: block;
	margin: -2px -1px -2px 0px;
	height: 18px;
	overflow: hidden;
	white-space: nowrap;
}
	
table.scroll thead {
}

/* End Grid */

/* Pager */
div.scroll {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	vertical-align: top;
	height: 23px;
	text-align: center;	
	white-space: nowrap;
	background-image: url(../imgs/grid-blue-ft.gif);
	border-right: 1px solid #ffe3b0;	
	border-left: 1px solid #ffe3b0;	
	border-bottom: 4px solid #ffe3b0;
	display : none;	
}

div.scroll span {
	vertical-align: super; 	 
	
}

.selbox {
	font-size: x-small;
	vertical-align : top;
	margin-top : 4px;
}

input.selbox{
	font-size: x-small;
	vertical-align : top;
	margin-top : 4px;
	
}
.pgbuttons {
	margin-top : 4px;
	width: 19px;
}
.nav-table-left {
	padding:1px;
	float: left;
	margin-top:2px;
/*	position:absolute;*/
}
.nav-table-right {
	padding:1px;
	float: right;
	margin-top:2px;
}

table.navtable tr{
	background-image: url(../imgs/grid-blue-ft.gif);	

}

table.navtable td.nav-button {
/*	margin-top:2px;*/
	border: 1px solid #ffe3b0;
	white-space: nowrap;
}

table.navtable td.nav-hover {
	border: 1px solid #3d84cc;
}

table.tbutton tr td{
	border : none;
	padding:0px;
}

img.jsHover { /*not used */
	border: 1px solid #99CCFF;
}
/* End Pager */
/*multiselect checkbox */
.cbox {
	height: 10px;
	width: 10px;
	/*border:1px solid #999;*/
}
/* end multiselect */


/* loading div */
div.loading {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size:13px;
	position: absolute;
	padding: 3px;
	text-align: center;
	font-weight: bold;
	background: red;
	color: white;
	display: none;
}

div.loadingui {
	display:none;
	z-index:6000;
	opacity:0.1;
	-moz-opacity: 0.1;
	filter: alpha(opacity=10);
	background-color:#000;
	position:absolute;
}

/* end loading div */
div.userdata {
	margin-top: 0px;
	background-color : #f7f7f7;
	height : 20px;
}
/* end toolbar */
/*Subgrid  text mode*/
.subgrid {
	height: 100%;
	overflow:  auto;
}
.tablediv {
	background-color: White;
	border-spacing: 1px; /*cellspacing:poor IE support for  this*/
	border-collapse: separate;
	width:100%; /* FF hack poor when scroling subgrid */
}
.celldiv {
	float: left;
	display: table-cell;
	border: 1px dotted #CCCCCC;
	overflow: auto;
	white-space: normal;
}
.celldivth {
	float: left; /*fix for  buggy browsers*/
	border: 1px solid #CCCCCC;
	background-color: #99CCFF;
	border-bottom: 1px solid #CBC7B8;
	text-align: left;
	overflow: auto;
}
.rowdiv  {
	display: table-row;
	background: #F9F9F9 none;
	color: #000000;
	width: 100%;
	overflow:auto;
}
/* End Subgrid */

/* InLine editing */
input.editable[type="text"]  {
	font-size: x-small;
	overflow: hidden;
}
input.editable[type="checkbox"]  {
}

textarea.editable {
	overflow: hidden;
}

select.editable {
	font-size: x-small;
}
/* End Inline Editing */

/*Modal Window */
.modaltext{ 
    text-align : left;
}
.modalwin{
    border:1px solid #555555;
    background:#F9F9F9;
    text-align:left;
    margin: 0 auto;
	overflow: auto;    
}


.modalhead {
	background-image: url(../imgs/grid-blue-hd.gif);
	height: 20px;
	
}
.modalcontent {
	overflow: auto;
	margin-bottom: 9px;
	margin-left: 5px;
}
/* end Modal window*/
/* Search window */
input.search {
	margin: 2px;
	width: 70px;
	font-size: 10px;
	color: #15428B;	
}

select.search {
	margin: 2px;
	width: 70px;
	font-size: 10px;
	color: #15428B;		
}
.buttonsearch {
	width : 50px;
	font-size: 10px;
	color: #15428B;		
}
/*End search */

/* Form edit */

.FormGrid {
	margin: 0px;
}
.EditTable {
	width: 100%;
}

.FormData { /* tr */
	
}

#FormError td {
	font-size: 90%;
	color: #FF0000;
	vertical-align: top;
	background-color: #f7f7f7; 
}

.CaptionTD{ /* td */
	font-weight: normal; text-align: left; vertical-align: top;
	padding: 1px;
	border-top: 1px solid #D4D0C8;
	white-space: nowrap;
	color: #000000;
}
.DataTD { /* td */
	padding: 1px;
	border-top: 1px solid #D4D0C8;
	vertical-align: top;
}
.navButton{
	border-top: 1px solid #D4D0C8;
	border-bottom: 1px solid #D4D0C8;
	text-align: center;
}
.navButton input{
	width:19px;
}
input.EditButton { /* buttons are at footer tr */
	font-size: 10px;
	color: #15428B;
}
td.EditButton {
	text-align: right;
	border-top: 1px solid #D4D0C8;
	border-bottom: 1px solid #D4D0C8;
}

.FormElement { /* form element  - input -text,textarea,checkbox - select  */
	
}
.FormElement {
	font-size: 10px;	
}
input[type="text"].FormElement{
	color: #15428B;		
}
input[type="checkbox"].FormElement{
	width: 15px;
	color: #15428B;		
}
input[type="textarea"].FormElement{
	color: #15428B;		
}
select.FormElement {
	font-size: 10px;
	color: #15428B;		
}
/* End Eorm edit */

/* Delete Dialog */
.DelButton > input { /* buttons are at footer tr */
	font-size: 10px;
	color: #15428B;
}
.DelButton {
	text-align: right;
}
/* End Delete Dialog */

img.jqResize {
	position:absolute;
	bottom: 0px;
	right: 0px;
	cursor :se-resize;
}
.dirty-cell {
	background: transparent url(../imgs/dirty.gif) no-repeat 0 0;	
}
#DelError td {
	font-size: 90%;
	color: #FF0000;
	vertical-align: top;
	background-color: #f7f7f7; 
}
.tree-wrap
{
	float: left; 
	position: relative;
	height: 18px;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
}
.tree-minus
{
	position: absolute;
	height: 18px; 
	width: 16px;
	vertical-align: middle;
	overflow: hidden;
	background: url(../imgs/tree_minus.gif) no-repeat;
}
.tree-plus
{
	position: absolute;
	height: 18px; 
	vertical-align: middle;
	width: 16px;
	overflow: hidden;
	background: url(../imgs/tree_plus.gif) no-repeat;
}
.tree-leaf
{
	position: absolute;
	height: 18px; 
	vertical-align: middle;
	width: 16px;
	overflow: hidden;
	background: url(../imgs/tree_leaf.gif) no-repeat;
}
.treeclick
{
	cursor: pointer;
}
