/*
 * $RCSfile: main.css,v $    $Revision: 1.3 $  $Date: 2005/06/06 20:37:53 $ - $Author: mking_cv $
 * 
 * The contents of this file are subject to the Open Software License
 * Version 2.1 ("the License"); you may not use this file except in
 * compliance with the License. You may obtain a copy of the License at
 * http://www.centraview.com/opensource/
 * 
 * Software distributed under the License is distributed on an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
 * License for the specific language governing rights and limitations
 * under the License.
 * 
 * The Original Code is: CentraView Open Source. 
 * 
 * The developer of the Original Code is CentraView.  Portions of the
 * Original Code created by CentraView are Copyright (c) 2004 CentraView,
 * LLC; All Rights Reserved.  The terms "CentraView" and the CentraView
 * logos are trademarks and service marks of CentraView, LLC.
 */ 
BODY
{  
  margin: 5px;
  padding: 0px;
}
HTML
{
  margin: 0px;
  padding: 0px;
}
FORM
{
  margin: 0px;
  padding: 0px;
}
PRE
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
}

/* General Font Settings */
.plainText
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  font-weight: bold;
  color: #333;
}
.boldText
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  font-weight: bold;
}
A.plainLink
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #0030f0;
  /* CAUTION: not sure if this will cause problems. It's needed for
     the ValueList, but will inherit the font-weight attribute of
     its parent, which may conflict with the style "plain" */
  font-weight: inherit; /*normal;*/
  text-decoration: none;
  cursor: pointer;
}
A.plainLink:hover
{
  color: #0090f0;
}

A.plainLink2
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #FFFFFF;
  /* CAUTION: not sure if this will cause problems. It's needed for
     the ValueList, but will inherit the font-weight attribute of
     its parent, which may conflict with the style "plain" */
  font-weight: inherit; /*normal;*/
  text-decoration: none;
  cursor: pointer;
}
A.plainLink2:hover
{
  color: #0090f0;
}

A.portletButton
{
  border: #333333 1px solid;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #FFFFFF;
  background-color: #3366FF;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 3px;
  font-weight: normal;
  cursor: pointer;
}
P.pageInstructions
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  padding: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 65%;
}

/* General Form Settings */
INPUT.inputBox
{
  /*padding-left: 5px;*/
  border: #666 1px solid;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #333;
  background: #F0F8FF; /*#fffcf0; #fffcf7;*/
  height: 20px;
  width: 320px;
}
INPUT.inputBoxLogin
{
  /*padding-left: 5px;*/
  border: #666 1px solid;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #333;
  background: #F0F8FF; /*#fffcf0; #fffcf7;*/
  height: 20px;
  width: 120px;
}
SELECT.selectBox
{
  /*padding-left: 5px;*/
  border: #666 1px solid;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #333;
  background: #F0F8FF; /*#fffcf0; #fffcf7;*/
  height: 20px;
  width: 320px;
}
INPUT.clickableInputBox
{
  border: #333333 1px solid;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #000000;
  background-color: #ffffff; /*#fffcf0; #fffcf7;*/
  height: 17px;
  text-decoration: underline;
  cursor: pointer;
}
TEXTAREA.inputBox
{
	padding-left: 5px;
  border: #333333 1px solid;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #000000;
  background-color: #ffffff; /*#fffcf0; #fffcf7;*/
}
SELECT.inputBox
{
	padding-left: 5px;
  border: #333333 1px solid;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #000000;
  background-color: #ffffff; /*#fffcf0; #fffcf7;*/
}

INPUT.checkBox
{
  border-color: #333333;
}
INPUT.normalButton
{
  border: #333333 1px solid;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #FFFFFF;
  background-color: #3366FF;
  width: auto;
  cursor: pointer;
}
INPUT.normalButtonLogin
{
  border: none;
  background: url(../imgs/btn_login.png) no-repeat;
  width: 99px;
  height: 27px;
  cursor: pointer;
}
INPUT.normalButtonCancelar
{
  border: none;
  background: url(../imgs/btn_cancelar.png) no-repeat;
  width: 99px;
  height: 27px;
  cursor: pointer;
}

INPUT.normalButtonVoltar
{
  border: none;
  background: url(../imgs/btn_voltar.png) no-repeat;
  width: 99px;
  height: 27px;
  cursor: pointer;
}

INPUT.normalButtonSalvar
{
  border: none;
  background: url(../imgs/btn_salvar.png) no-repeat;
  width: 99px;
  height: 27px;
  cursor: pointer;
}
INPUT.normalButton:hover
{
  color: #FFFF66;
}
INPUT.disabledButton
{
  border: #333333 1px solid;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #000000;
  background-color: #D9D9D9; /*#ADB8D9;*/
  width: auto;
}


/* Header Table */
TABLE.headerTable
{
  width: 100%;
}
TD.headerLeft
{
  border-right: #cccccc 1px solid;
  background-color: #ffffff;
  width: 182px;
}
TD.headerRight
{
  background-color: #ffffff;
}
TD.headerRightTop
{
  border-bottom: #cccccc 1px solid;
  background-color: #ffffff;
  text-align: left;   
  padding-left: 18px;
  padding-top: 6px;
  padding-bottom: 5px;
}
TD.headerRightBottom
{
  background-color: #ffffff;
  text-align: left;   
  padding-left: 18px;
  padding-right: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
}
DIV.headerTextContainer
{
  width: 585px;
}
DIV.headerWelcomeText
{
  width: 345px;
  float: left;
}
DIV.headerPoweredBy
{
  float: right;
  width: 165px;
  text-align: center;
}
.headerAlertText
{
  font-weight: bold;
  font-size: 8pt;
  color: #dd3333;
  font-family: verdana, arial, helvetica, sans-serif;
}
.headerTextBold
{
  font-weight: bold;
  font-size: 8pt;
  color: #333333;
  font-family: verdana, arial, helvetica, Sans-serif;
}
.headerTextSmall
{
  font-size: 7pt;
  color: #333333;
  font-family: verdana, arial, helvetica, sans-serif;
}
A.headerTextSmall
{
  color: #3030f0;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}
A.headerTextSmall:hover
{
  color: #3090f0;
  text-decoration: none;
}
TD.headerButtons
{
  padding-right: 6px;
  padding-left: 6px;
  padding-top: 1px;
  padding-bottom: 2px;  
  text-align: left;
}
TD.headerButtonsEnd
{
}
TD.headerButtonsSpacer
{
  width: 40px;
  background-color: #ffffff;
}

/* Tabs */
TABLE.tabsContainer
{
  width: 100%;
}
TD.tabsContainerTopRow
{
  border-top: #333333 1px solid;
}
TABLE.tabsTable
{
  width: 100%;
  height: 17px;
}
TD.firstTabOff
{
  background-color: #6699ff;
  border-bottom: #333333 1px solid;
  width: 15px;
}
TD.tabsOn
{
  background-color: #3366ff;
  padding-left: 6px;
  padding-right: 6px;
  border-left: #333333 1px solid;
  width: 1%;
}
TD.tabsOff
{
  background-color: #6699ff;
  padding-left: 6px;
  padding-right: 6px;
  border-left: #333333 1px solid;
  border-bottom: #333333 1px solid;
  width: 1%;
}
TD.lastTabOff
{
  background-color: #6699ff;
  border-left: #333333 1px solid;
  border-bottom: #333333 1px solid;
}
TD.tabsBottomBar
{
  background-color: #3366ff;
  border-bottom: #333333 1px solid;
}
A.tabsOff
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
A.tabsOff:hover
{
  color: #FFFF66;
}
A.tabsOn
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
A.tabsOn:hover
{
  color: #FFFF66;
}

SELECT.tabsDropNavOff
{
  border: #6699ff 1px solid;
  background-color: #6699ff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #ffffff;
}
SELECT.tabsDropNavOn
{
  border: #3366ff 1px solid;
  background-color: #3366ff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #ffffff;
}
TD.firstActivityTabOff
{
  background-color: #6699ff;
  border-bottom: #333333 1px solid;
}
.tabsText
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #ffffff;
}


/* Main Content Table */
TABLE.mainContentTable
{
  width: 100%;
  /*height: 100%;*/
}
TD.leftNavContainer
{
  width: 175px;
  background-color: #cccccc;	
}
DIV.leftNavContainer
{
  width: 175px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 0px;
  padding-left: 7px;
  background-color: #cccccc;	
}
P.leftNav
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12pt;
  font-weight: bold;
  color: #000000;
}
TABLE.menuContainer
{
  width: 170px;
  padding-bottom: 18px;
}
TD.mainContentArea
{
   border: 1px solid #666;
   background:#fff;  
   
}

/* Search Table */
TABLE.searchTable
{
  margin-bottom: 7px;
}

/* Footer */
TABLE.footerTable
{
  width: 100%;
  background-color: #cccccc;
}
TD.footerLeft
{
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
}
TD.footerRight
{
  text-align: right;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
}
.footerText
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #333333;
}

/* General/Headers */
TD.sectionHeader
{
  background-color: #cccccc;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 7px;
  padding-left: 7px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  font-weight: bold;
  height: 23px;
  vertical-align: middle;
}
TD.headerBG
{
  background-color: #cccccc;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 7px;
  padding-left: 7px;
}
TD.tableContent
{
  padding: 3px;
}
TD.portletBottom
{
  padding-top: 14px;
}
TD.popupTableContent
{
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.alertText
{
  color: #dd3333;
  font-weight: bold;
}

/* Left Nav Menu */
TD.menuPrimary
{
  padding: 5px;
  background-color: #aeaeae;
}
TD.menuPrimaryOn
{
  padding: 5px;
  background-color: #ffffff;
}
A.menuPrimary
{
  font-size: 11px;
  color: #0030F0;
  font-family: verdana, arial, helvetica, sans-serif;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
TD.menuSecondary
{
  padding: 5px;
  padding-left: 15px;
  background-color: #e1e1e1;
}
A.menuPrimaryOn
{
  font-size: 11px;
  color: #0030F0;
  font-family: verdana, arial, helvetica, sans-serif;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
A.menuSecondary
{
  font-size: 11px;
  color: #0030F0;
  font-family: verdana, arial, helvetica, sans-serif;
  text-decoration: none;
  cursor: pointer;
}
TD.menuSecondaryOn
{
  padding: 5px;
  padding-left: 15px;
  background-color: #ffffff;
}
A.menuSecondaryOn
{
  font-size: 11px;
  color: #0030F0;
  font-family: verdana, arial, helvetica, sans-serif;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}
TD.menuTertiary
{
  padding: 5px;
  padding-left: 25px;
  background-color: #e1e1e1;
}
A.menuTertiary
{
  font-size: 11px;
  color: #0030F0;
  font-family: verdana, arial, helvetica, sans-serif;
  text-decoration: none;
  cursor: pointer;
}
TD.menuTertiaryOn
{
  padding: 5px;
  padding-left: 25px;
  background-color: #ffffff;
}
A.menuTertiaryOn
{
  font-size: 11px;
  color: #0030F0;
  font-family: verdana, arial, helvetica, sans-serif;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}



/* Paging Bar */
TD.pagingBarContainer
{
  background-color: #aeaeae;
  padding: 3px;
}
TD.pagingButtonTD
{
  padding-right: 5px;
}

.pagingText
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #ffffff;
}

.pagingText2
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #000000;
}

SELECT.pagingDropdown
{
  border: #333333 1px solid;
  background-color: #3366ff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #ffffff;
  height: 17px;
}

/* Value List Framework */
TD.listHeader
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
	padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 7px;
  padding-left: 7px;
  background-color: #cccccc;
  white-space: nowrap;
}
A.listHeader
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
A.listHeader:hover
{
  text-decoration: underline;
}
SPAN.listHeader
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

TR.tableRowOdd
{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #333333;
  border-bottom: #cccccc 1px solid;
  background-color: #ffffff;
  text-decoration: none;
  text-align: top;
}
TR.tableRowEven
{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #333333;
  border-bottom: #cccccc 1px solid;
  background-color: #e6e6e6;
  text-decoration: none;
  text-align: top;
}

TD.tableColun
{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #333333;
  border-bottom: #cccccc 1px solid;
  text-decoration: none;
  text-align: top;
}

TD.tableRowOdd
{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #333333;
  border-bottom: #cccccc 1px solid;
  background-color: #ffffff;
  text-decoration: none;
  text-align: top;
}
TD.tableRowEven
{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #333333;
  border-bottom: #cccccc 1px solid;
  background-color: #e6e6e6;
  text-decoration: none;
  text-align: top;
}
TD.defaultEntityRow
{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #333333;
  border-bottom: #cccccc 1px solid;
  background-color: #ffffb3;
  text-decoration: none;
  text-align: top;
}
TD.tableRowOddBold
{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #333333;
  border-bottom: #cccccc 1px solid;
  background-color: #ffffff;
  text-decoration: none;
  text-align: top;
  font-weight: bold;
}
TD.tableRowEvenBold
{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #333333;
  border-bottom: #cccccc 1px solid;
  background-color: #e6e6e6;
  text-decoration: none;
  text-align: top;
  font-weight: bold;
}
TD.tableRowSelected
{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #333333;
  border-bottom: #9999ff 1px solid;
  background-color: #ccccff;
  text-decoration: none;
  text-align: top;
}

TABLE.loginContent
{
  width: 100%;
  background-color: #FFF;
  padding: 7px;
}
TD.mainHeader
{
  padding: 3px;
  color: #ffffff;
  background: url(../imgs/bg_header.jpg) repeat-x;
  font-size: 15px;
  font-weight: bold;
  font-family: verdana, arial, helvetica, sans-serif;
}
SPAN.headerHighlight
{
  color: #ffff99;
}

/* Popup Detail window stuff */
TD.detailDarkBorder
{
  border: #666666 3px solid;
}

TD.detailButtonHeader
{
  background-color: #aeaeae;
  padding: 3px;
}

TD.detailHighlightHeader
{
	padding: 3px;
  background-color: #ffcc33; 
  border-bottom: #ff9900 1px solid;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  font-weight: bold;
  color: #000000;
  height: 23px;
}
TABLE.detailHighlightSection
{
  background-color: #ffff99; 
  border-top: #cccccc 1px solid;
  border-bottom: #cccccc 1px solid;
  padding-top: 3px;
}
TD.labelCell
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
}
TD.contentCell
{
  padding-right: 5px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #000000;
}

TD.labelCellBold
{
  padding-left: 7px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  font-weight: bold;
  color: #000000;
  white-space: nowrap;
}
SPAN.labelBold
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  font-weight: bold;
  color: #000000;
}
TABLE.formTable
{
  padding-top: 3px;
  padding-bottom: 3px;
}

TD.detailBottomButtons
{
  text-align: right;
  background-color: #cccccc;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 3px;
}
TD.contactNavHeader
{
  padding: 3px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #000000;
}


/* */
SELECT.styledDropdown
{
  border: #333333 1px solid;
  background-color: #3366ff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #ffffff;
  height: 17px;
}

IFRAME.emailIframe
{
  width: 100%;
  height: 100%;
  min-height: 450px;
}
BODY.emailIframe
{
  padding: 7px;
  background-color: #cccccc;	
}
A.fileNavOff
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
A.leftNavTitle
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14pt;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
}

.errorText
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #dd3333;
}
DIV.errorBox
{
  border: #dd3333 1px solid;
  padding: 4px;
  background-color: #ffefe7;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #dd3333;
}

TD.availScheduledCell
{
  background-color: #ffe994;
  width: 75px;
  text-align: center;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #333333;
}
TD.availHeadCell
{
  width: 75px;
  text-align: center;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  border-bottom: #cccccc 1px solid;
  background-color: #aeaeae;
}
TD.availCellOdd
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #333333;
  border-bottom: #cccccc 1px solid;
  background-color: #ffffff;
  white-space: nowrap;
}
TD.availCellEven
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  color: #333333;
  border-bottom: #cccccc 1px solid;
  background-color: #e6e6e6;
  white-space: nowrap;
}
TD.availBusyCell
{
  background-color: #ff9999;
  width: 75px;
  text-align: center;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #333333;
}
TABLE.mediumTableBorders
{
  background-color: #cccccc;
}
TD.mediumTableBorders
{
  background-color: #ffffff;
}
TD.emailInputBox
{
  padding-top: 5px;
  padding-bottom: 5px;
}
TD.itemsContainer
{
  background-color: #cccccc;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
}
TD.itemTotalHR
{
  border-top: #000000 1px solid;
}
.errorMessageBox
{
  padding: 2px;
  color: #cd4800;
  background-color: #ffefe7;
  border: #cd4800 1px solid;
  font-family: verdana, arial, sans-serif;
  font-size: 65%;
}
.errorMessageHeader
{
  font-weight: bold;
  text-decoration: underline;
}
TD.buttonRow
{
  background: url(../imgs/bg_header2.jpg) repeat-x;
  height: 33px;
  padding: 3px;
}
SPAN.accountingPageHeader
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 20pt;
  font-weight: bold;
  color: #333333;
}


/* Start Calendar CSS */
TD.calendarHourOdd
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14pt;
  color: #000000;
  width: 1%;
  text-align: right;
  padding-right: 4px;
}
TD.calendarHourEven
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14pt;
  color: #000000;
  width: 1%;
  text-align: right;
  padding-right: 4px;
  background-color: #e6e6e6;
}
TD.calendarHalfOddTop
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  width: 1%;
  padding-right: 4px;
  background-color: #ffffff;
  border-bottom: #cccccc 1px solid;
}
TD.calendarHalfOddBottom
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  width: 1%;
  padding-right: 4px;
  background-color: #ffffff;
}
TD.calendarHalfEvenTop
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  width: 1%;
  padding-right: 4px;
  background-color: #e6e6e6;
  border-bottom: #cccccc 1px solid;
}
TD.calendarHalfEvenBottom
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  width: 1%;
  padding-right: 4px;
  background-color: #e6e6e6;
}
TD.calendarOddTop
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  background-color: #ffffff;
  border-bottom: #cccccc 1px solid;
}
TD.calendarOddBottom
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  background-color: #ffffff;
}
TD.calendarEvenTop
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  background-color: #e6e6e6;
  border-bottom: #cccccc 1px solid;
}
TD.calendarEvenBottom
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  background-color: #e6e6e6;
}




TD.workingHourOdd
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14pt;
  color: #000000;
  width: 1%;
  text-align: right;
  padding-right: 4px;
	background-color: #aadcff;
}
TD.workingHourEven
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14pt;
  color: #000000;
  width: 1%;
  text-align: right;
  padding-right: 4px;
	background-color: #85cdff;
}
TD.workingHalfOddTop
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  width: 1%;
  padding-right: 4px;
	background-color: #aadcff;
  border-bottom: #81ccff 1px solid;
}
TD.workingHalfOddBottom
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  width: 1%;
  padding-right: 4px;
	background-color: #aadcff;
}
TD.workingHalfEvenTop
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  width: 1%;
  padding-right: 4px;
	background-color: #85cdff;
  border-bottom: #58bbff 1px solid;
}
TD.workingHalfEvenBottom
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  width: 1%;
  padding-right: 4px;
	background-color: #85cdff;
}
TD.workingOddTop
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
	background-color: #aadcff;
  border-bottom: #81ccff 1px solid;
}
TD.workingOddBottom
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
	background-color: #aadcff;
}
TD.workingEvenTop
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
	background-color: #85cdff;
  border-bottom: #58bbff 1px solid;
}
TD.workingEvenBottom
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
	background-color: #85cdff;
}
TABLE.calendarWeekly
{
  width: 100%;
  background-color: #aeaeae;
}
TD.calendarWeeklyTime
{
  background-color: #cccccc;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  text-align: right;
  padding-right: 9px;
  width: 40px;
  height: 15px;
}
TD.calendarWeeklyHead
{
  background-color: #aeaeae;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  text-align: center;
  height: 16px;
  vertical-align: bottom;
}
TD.calendarWeeklyNormal
{
  background-color: #ffffff;
}
TD.calendarWeeklyWorking
{
  background-color: #aadcff;
}
TABLE.calendarWeeklyDay
{
  border: #cccccc 1px solid;
  min-height: 100px;
  margin-bottom: 10px;
}
/* End Calendar CSS */

/* Start Mini Calendar */
TABLE.miniCalHeader
{
  width: 212px;
  background-color: #aeaeae;
  text-align: center;
}
TABLE.miniCalContainer
{
  width: 212px;
  background-color: #cccccc;
}
TABLE.miniCalendar
{
  width: 212px;
}
TD.miniCalHeader
{
  background-color: #cccccc;
  width: 28px;
  height: 23px;
  text-align: center;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
}
TD.miniCalHeadNav
{
  background-color: #cccccc;
  height: 23px;
  width: 16px;
}
TD.miniCalNav
{
  background-color: #ffffff;
  height: 23px;
  width: 16px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  text-align: center;
}

TD.miniCalCurrentWeek
{
  background-color: #aadcff;
  width: 28px;
  height: 23px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  text-align: center;
}
TD.miniCalCurrentDay
{
  background-color: #85cdff;
  width: 28px;
  height: 23px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  text-align: center;
}
TD.miniCalNormalDay
{
  background-color: #ffffff;
  width: 28px;
  height: 23px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  text-align: center;
}
TD.miniCalBlank
{
  background-color: #aeaeae;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  text-align: center;
}
/* End Mini Calendar */
/* Monthly view Calendar */
TD.bigCalHeader
{
  background-color: #cccccc;
  width: 14%;
  height: 19px;
  text-align: center;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
}
TD.bigCalHeadNav
{
  background-color: #cccccc;
  height: 19px;
  width: 16px;
}
TD.bigCalNav
{
  background-color: #ffffff;
  height: 85px;
  width: 16px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  text-align: center;
}
TD.bigCalNormalDay
{
  background-color: #ffffff;
  height: 85px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  vertical-align: top;
}
TD.bigCalCurrentDay
{
  background-color: #85cdff;
  height: 85px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  vertical-align: top;
}
TD.bigCalBlank
{
  background-color: #aeaeae;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  text-align: center;
}
DIV.bigCalDayNumber
{
  text-align: right;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 3px;
}
DIV.bigCalDayNew
{
  text-align: left;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 3px;
}
TABLE.bigCalDayTop
{
  background-color: #f7f7f7;
  margin-bottom: 4px;
}
span.completedActivity
{
  text-decoration: line-through;
}

.bordasimples {border-collapse: collapse;}

.bordasimples tr td {border:1px solid #000;}

#print-logo {display:none;}

#print-assinatura {display:none;}





#impressao{
width:90%;
margin:auto;
}

#impressao h1{
background-color:#006600;
border-bottom:1px solid #666666;
padding:7px 0;
color:#FFFFFF;
font-family:Arial,Helvetica,sans-serif;
font-size:20px;
line-height:35px;
margin-top:0;
padding-bottom:0;
text-align:center;
}

#impressao p{
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
color:#000000;
margin-left:10px;
}

#impressao_c{
width:600px;
margin:auto;
}

#impressao_c h1{
background-color:#73E5F5;
border:1px solid #666666;
color:#000000;
font-family:Arial,Helvetica,sans-serif;
font-size:20px;
line-height:35px;
margin-top:0;
padding-bottom:0;
text-align:center;
}

#impressao_c p{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
margin-left:10px;
}


#impressao_c2{
width:800px;
margin:auto;
}

#impressao_c2 h1{
background-color:#73E5F5;
border:1px solid #666666;
color:#000000;
font-family:Arial,Helvetica,sans-serif;
font-size:15px;
line-height:35px;
margin-top:0;
padding-bottom:0;
text-align:center;
}

#impressao_c2 p{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
margin-left:10px;
}

#impressao table{
border-collapse:collapse;
width:100%;
font-size:12px;
}

#impressao p{
font-size:12px;
}

.td_c{
border:solid 1px #333333;
padding:5px;
}




