* {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#333; text-decoration:none}
table {width:100%}

TD{border:none}

#nome_relatorio {position:absolute; top:45px; right:5px; font-size:18px; font-weight:bold; display:block}

#principal {border:1px solid #ccc; border-collapse:collapse; margin-top:25px}
#principal td {width:20%; padding:8px; border:1px solid #ccc}

#bordaInvisivel {border:none}

#espacoCabecalho {margin-top:180px}

.listHeader {font-weight:bold; font-size:10px}
.invisivel {display:none}

#bhbyte {text-align:right; padding-top:10px}

#print-logo {display:block;}

#print-assinatura {display:block;}
 